* {
    background-color: darkseagreen;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

.title {
    text-align: center;
    padding: 30px;
    margin: 10px;
}

.recipes {
    display: inline;
    background-color: aqua;
    margin: 5px;
    padding: 20px;
    border: 2px;
    border-color: blue;
}